.card-container {
  display: flex;
  flex-direction: row;
  margin: 0 .5rem;
  padding: .5rem 0 .5rem .5rem;
  height: 4rem;

  .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
    width: 3.5rem;
    font-size: 2rem;
    border: solid;
    border-radius: 1rem;
    border-width: 0.1rem;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    margin: .5rem .5rem .5rem;

    .button {
      display: inline-block;
      border-radius: 6px;
      color: black;
      padding: .2rem 1rem;
      margin: .2rem 0;
      text-align: center;
      font-size: 10px;
    }
  }
}
