<div class="main-container">
  <div class="header">
    <div class="header-counter">{{ firstCounter + secondCounter }}</div>
    <button class="header-reset-button" (click)="resetCounters()">RESET</button>
  </div>
  <app-card-component
    [counter]="firstCounter"
    [addDisabled]="addDisabled"
    [substractDisabled]="substractDisabled"
    (messageEvent)="updateFirstCounter($event)"
  ></app-card-component>
  <app-card-component
    [counter]="secondCounter"
    [addDisabled]="addDisabled"
    [substractDisabled]="substractDisabled"
    (messageEvent)="updateSecondCounter($event)"
  ></app-card-component>
</div>
